{include file='public/meta'/}
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
  <div class="cl pd-5 bg-1 bk-gray mt-20">
    {if condition="$Think.session.user_id eq 1"}<a href="{:url('admin_add')}" class="btn btn-primary radius"><i class="icon-plus"></i> 添加用户</a>{/if}
  </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width="80">ID</th>
        <th width="100">账号</th>
        <th width="100">登录次数</th>
        <th width="100">上次登录时间</th>
        <th width="100">登录名</th>
        <th width="100">操作</th>
      </tr>
    </thead>
    <tbody>
    {volist name="admin" id="vo" key="k"}
    <tr class="text-c">
        <td>{$k}</td>
        <td>{$vo.username}</td>
        <td>{$vo.login_count}次</td>
        <td>{$vo['login_time']|date="Y-m-d H:i:s",###}</td>
        <td>{$vo.name}</td>
        <td class="">
            <!--只能改当前登录的人的信息，admin可更改任何人的信息-->
          {if condition="($Think.session.user_id == $vo.id)or($Think.session.user_id == 1)"}<a style="text-decoration:none" class="ml-5" href="{:url('index/admin_password',['id'=>$vo.id])}" title="修改密码"><i class="icon-key">修改密码</i></a>{/if}
          {if condition="($Think.session.user_id == $vo.id)or($Think.session.user_id == 1)"}<a style="text-decoration:none" class="ml-5" href="{:url('index/admin_edit',['id'=>$vo.id])}" title="修改信息"><i class="icon-key">修改信息</i></a>{/if}
          <!--任何人都不能删除信息，除admin外，不可删除admin-->
            {if condition="($Think.session.user_id == 1)and($Think.session.user_id != $vo.id)"}<a title="删除" href="javascript:;" onclick="user_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="icon-trash">删除</i></a>{/if}

        </td>
      </tr>
    {/volist}
    </tbody>
  </table>
  <div id="pageNav" class="pageNav"></div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file='public/footer'/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
function user_del(obj,id){
    layer.confirm('确认要删除吗？',function(index){
        $.get("{:url('admin_delete')}",{id:id});
        $(obj).parents("tr").remove();
        layer.msg('已删除!',{icon:1,time:1000});
    });
}

</script>
</body>
</html>
