<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dl id="menu-product">
				<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="{:url('product/index')}" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
						<li><a data-href="{:url('product/showType')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>

					</ul>
				</dd>
			</dl>
			<dl id="menu">
			<dt><i class="Hui-iconfont">&#xe616;</i> 新闻管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/news/index')}" data-title="资讯管理" href="javascript:void(0)">新闻管理</a></li>
					<li><a data-href="{:url('news/showType')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
				</ul>
			</dd>
		</dl>
			<dl id="">
				<dt><i class="Hui-iconfont">&#xe616;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="{:url('order/index')}" data-title="订单管理" href="javascript:void(0)">订单管理</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-member">
				<dt><i class="Hui-iconfont">&#xe60d;</i> 回馈管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="{:url('message/index')}" data-title="回馈列表" href="javascript:;">回馈列表</a></li>
					</ul>
				</dd>
			</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('banner/index')}" data-title="轮播管理" href="javascript:void(0)">轮播管理</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 网站设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('system/index')}" data-title="基本设置" href="javascript:void(0)">基本设置</a></li>
					<li><a data-href="{:url('system/profile')}" data-title="内页设置" href="javascript:void(0)">内页设置</a></li>
				</ul>
			</dd>
		</dl>
			<dl id="link">
				<dt><i class="Hui-iconfont">&#xe62e;</i> 友情链接<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="{:url('link/index')}" data-title="链接管理" href="javascript:void(0)">链接管理</a></li>
					</ul>
				</dd>
			</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/adminlist')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>

		<!--<dl id="menu-tongji">-->
			<!--<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
			<!--<dd>-->
				<!--<ul>-->
					<!--<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>-->
					<!--<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>-->
					<!--<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>-->
					<!--<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>-->
					<!--<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>-->
					<!--<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>-->
					<!--<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>-->
				<!--</ul>-->
			<!--</dd>-->
		<!--</dl>-->
		<!--<dl id="menu-system">-->
			<!--<dt><i class="Hui-iconfont">&#xe62e;</i> 下载中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
			<!--<dd>-->
				<!--<ul>-->
					<!--<li><a data-href="{:url('download/index')}" data-title="下载中心" href="javascript:void(0)">下载中心</a></li>-->
				<!--</ul>-->
			<!--</dd>-->
		<!--</dl>-->
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>