<div class="left_nav" id="categories">
    <h2 class="left_h">{$Think.lang.navigation}</h2>
    <ul class="left_nav_ul" id="firstpane">
        <li><a class="biglink" href="{:url('index/system',['nav'=>'about'])}">{$Think.lang.nav_brief}</a><span class="menu_head">+</span>
            <ul class="left_snav_ul menu_body">
            </ul>
        </li>
        <li><a class="biglink" href="{:url('index/system',['nav'=>'contact'])}">{$Think.lang.contact_us}</a><span class="menu_head">+</span>
            <ul class="left_snav_ul menu_body"></ul>
        </li>
        <li><a class="biglink" href="Our-service.html">{$Think.lang.advantage1}</a><span class="menu_head">+</span>
            <ul class="left_snav_ul menu_body"></ul>
        </li>
    </ul>
</div>